// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #0D6EFD;
// $orange: #E67E22;

$purple: #D680FF;
$yellow: #FFBC00;
$green: #9FE800;
$dark-grey: #A9A9A9;
$mid-gray: #D9D9D9;
$light-gray: #F0F0F0;
$white: #FFFFFF;
$black: #000000;
