.bottom-d {
  background-color: $v-dark-gray;
  width: 3%;
  height: 5vh;
  position: absolute;
  right: 130px;
  top: 445px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  transition: right 0.5s ease-in;
  border: 0;
}

.arrow {
  transition: right 0.5s ease-in;
}

.move-right {
  right: -13px;
  transition: right 0.6s ease-in;
}
