.bottom-d {
  background-color: $v-dark-gray;
  width: 3%;
  height: 5vh;
  position: absolute;
  right: 130px;
  top: 445px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  transition: right 0.5s ease-in;
  border: 0;
}

.arrow {
  transition: right 0.5s ease-in;
}

.move-right {
  right: -18px;
  transition: right 0.6s ease-in;
}

.bottom-microphone{
  display: flex;
  justify-content: space-between;
  padding: 3px;
}

.colorPicker{
  width: 110px; /* Ajusta el ancho según lo deseado */
  height: 70px; /* Ajusta la altura según lo deseado */
  margin-left: 3px;
}
