canvas {
  background: $v-mid-gray;
  // position: fixed;
  width: 100vw;
  height: 100%;
}

.myCanvas {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

body {
  overflow: scroll;
}

audio {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
}

// SIDE BAR CSS BELOW

.side-bar {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 450px;
  position: absolute;
  right: 0;
  top: 20%;
  border: solid 1px white;
  border-radius: 8px;
  padding: 15px;
  transition: right 0.5s ease;
}

.color-picker {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
  border-radius: 6px;
}

// .color-picker-box {
//   background-color: aqua;
//   display: block;
//   justify-content: space-between !important;
//   align-items: center !important;
// }

.video-playback {
  width: 20%;
  height: 20%;
}

.hidden-form {
  display: none;
}

.push-right {
  right: -150px !important;
  transition: right 0.5s ease;
}

.pos-relative {
  position: relative;
  margin-bottom: 10px;
}

// SIDE BAR CSS ABOVE

.checkboxes {
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: rgb(255, 255, 255) solid 1px;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 15px;

  .form-check-input {
    border: black solid 1px;
    border-radius: 16px;
    position: absolute;
    height: 30px;
    width: 100%;
  }

  .input-text {
    // transform-origin: center center;
    position: absolute;
    transform: translate(8%, -50%);
    // z-index: 1;
  }
}

.white-btn {
  background-color: white;
  color: $black;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  border: black solid 1px;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9em;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 15px;

  &:hover {
    transition: 300ms;
    background-color: $v-dark-gray;
  }
}

.parent {
  overflow: hidden;
}

.delete-btn {
  background-color: white;
  color: $black;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  border-radius: 20px;
  border: black solid 1px;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9em;
  display: inline-block;
  position: relative;
  width: 100%;

  &:hover {
    transition: 300ms;
    background-color: $v-dark-gray;
  }
}

.delete-cursor {
  cursor: crosshair;
}
