canvas {
  background: $v-mid-gray;
  // position: fixed;
  width: 100vw;
  height: 100%;
}

.myCanvas {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

body {
  overflow: scroll;
}

audio {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
}


.side-bar {
  background-color: $v-dark-gray;
  width: 150px;
  height: 300px;
  position: absolute;
  right: 0px;
  top: 30%;
  border-radius: 6px;
  padding: 15px;
}

.parent {
  // display: flex;
  justify-content: space-between;
}

.hidden-form {
  display: none;
}

.color-picker {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
  border: solid black 1px;
  object-fit: fill;
}
