.main-container {
  width: 100%;
  height: 10%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
  text-align: center;
  // background-color: aqua;
  h4 {
    margin-top: 350px;
    margin-bottom: 50px;

  }
}

.header-container {
  // width: fit-content;
  margin-top: 150px;
   height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 15px;
  padding: 50px;
  h1 {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  h5 {
    margin-bottom: 10px;
    font-weight: bold;
  }
  p {
    font-size: 0.8em;
  }
}


.home-page-box {

  border-radius: 20px;
  // padding-bottom: 100px;
  // padding-left: ;
   background-color:white;
  padding: 50px;
  justify-content: center;
  align-items: center;
  // height: 450px;
}


///video staff



.container-text{
  background-color: white;
  width: fit-content;

  // margin:  0 auto;
}
.video {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}



.buttons {
  display: flex;
  justify-content: space-between;
  position: relative;

}

.back-to-top {
  justify-content: center;
  width: 100%;
  position: relative;
}

.how-to {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding-left: 150px;
  padding-right: 150px;
  margin-bottom: 200px;
  .tile-green {
    // background-color: $v-green;
    text-align: center;
    border-radius: 10px;
    height: 400px;
    width: 320px;
    background-image: linear-gradient(0.45turn, $v-green , #3F8B03);
    padding: 40px;
    font-weight: bold;
    h2 {
      font-weight: bold;
      margin-bottom: 30px;
    }
    p {
      font-weight: lighter;
      font-size: 2.4em;
    }
    &:hover {
      transition: 300ms;
      box-shadow: -10px 10px 10px rgba($v-green, 0.8);
      transform: translate(10px, -10px);
      color: white;
    }
  }
  .tile-purple {
    // background-color: $v-purple;
    text-align: center;
    border-radius: 10px;
    height: 400px;
    width: 320px;
    background-image: linear-gradient(0.45turn, $v-purple , #B02DC2);
    padding: 40px;
    font-weight: bold;
    h2 {
      font-weight: bold;
      margin-bottom: 30px;
    }
    p {
      font-weight: lighter;
      font-size: 2.4em;
    }
    &:hover {
      transition: 300ms;
      box-shadow: -10px 10px 10px rgba($v-purple, 0.8);
      transform: translate(10px, -10px);
      color: white;
    }
  }
  .tile-yellow {
    // background-color: $v-yellow;
    text-align: center;
    border-radius: 10px;
    height: 400px;
    width: 320px;
    background-image: linear-gradient(0.45turn, $v-yellow , #D17F03);
    padding: 40px;
    font-weight: bold;
    h2 {
      font-weight: bold;
      margin-bottom: 30px;
    }
    p {
      font-weight: lighter;
      font-size: 2.4em;
    }
    &:hover {
      transition: 300ms;
      box-shadow: -10px 10px 10px rgba($v-yellow, 0.8);
      transform: translate(10px, -10px);
      color: white;
    }
  }
}


.num-outline {
  color: black;
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-text-stroke: 2px;
  font-size: 5em;
  text-shadow: 5px 5px 0px black;
}

.template-container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 50px;

  #btn-mic {
    box-sizing: border-box;
    width: 290px;
    height: 40px;
    left: 30px;
    top: 100px;
    border: 1px solid #000000;
    border-radius: 42.67px;
      .bi {
        border-radius: 50px;
        background-color: rgba(255, 188, 0, 1);
        color:white;
      }
  }

  #btn-upload {
    box-sizing: border-box;
    width: 290px;
    height: 40px;
    left: 30px;
    top: 100px;
    border: 1px solid #000000;
    border-radius: 42.67px;
    .bi {
      border-radius: 50px;
      background-color: rgba(159, 232, 0, 1);
      color:white;
    }
  }

  #btn-choose {
    box-sizing: border-box;
    width: 280px;
    height: 40px;
    left: 30px;
    top: 100px;
    border: 1px solid #000000;
    border-radius: 42.67px;
    .bi {
      border-radius: 50px;
      background-color: rgba(242, 148, 255, 1);
      color:white;
    }
  }
}

.modal-content {
  background-color: rgba(0,0,0,0.0);
  border-radius: 10px;
  border: none;
}

.modal-title-creations {
  color: aliceblue;
}

.modal-header {
  border-bottom: none;
}

#myModal {
  background-color: rgba(0,0,0,0.7);
}

.custom-modal-bg {
  background-color: white;
  padding-bottom: 20px;
}

#exampleModalToggle {
  background-color: rgba(0,0,0,0.7);
}

.container-btn-upload {
  text-align: center;
}

.button-cont {
  width: 108%;
  margin-left: -4%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  > label, .form-label {
    border: 1px solid black;
    height: 42px;
    padding: 0px 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
  }
  .project_music_file, .form-label {
    margin: 0px !important;
  }
  .form-label {
    cursor: pointer;
  }
}

.bi {
  color:rgba(242, 148, 255, 1);
  cursor: pointer;
}
