<div class="main-container">
  <div class="header-container">
    <h1>Where sound takes shape.</h1>
    <div class="description">
      <h4>Vempo merges the realms of audio and visual <br> by giving sound a canvas to move on.</h4>
    </div>
    <%# <p>Create an audio canvas from scratch, or check out our templates to get started.</p> %>
    <div class="buttons">
      <a class="purple-btn">start from template</a>
      <a class="green-btn">start from blank</a>
    </div>
  </div>
  <h4>How it works</h4>
  <div class="how-to">
    <div class="tile-green">
      <h3>1</h3>
      <p>Create a visual composition using shapes and graphics.</p>
    </div>
    <div class="tile-purple">
      <h3>2</h3>
      <p>Assign behaviours and modifiers to your graphics.</p>
    </div>
    <div class="tile-yellow">
      <h3>3</h3>
      <p>Play your selected audio, and watch your canvas dance!</p>
    </div>
  </div>
</div>
