<div class="main-container">
  <div class="header-container">
    <h1>Let sound take shape</h1>
    <div class="description">
      <h5>Vempo merges the realms of audio and visual <br> by giving sound a canvas to move on.</h5>r
    </div>
    <div class="buttons">
      <a class="purple-btn">start from a template <i class="fa-solid fa-arrow-down" style="color: #000000;"></i></a>
      <a class="green-btn">start from a blank canvas  <i class="fa-solid fa-arrow-right" style="color: #000000;"></i></a>
      
      <!-- START Modal to disp MOVE TO A PARTIAL-->
      <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-
labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content align-items-center">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Choose a sound
to play with:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-
label="Close"></button>
      </div>
      <div class="modal-body d-flex flex-column w-50">
        <button class="btn" id="btn-mic" data-bs-target="#exampleModalToggle2" data-bs-
toggle="modal">Use microphone <svg xmlns="http://www.w3.org/2000/svg" width="35" height="26" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
</svg></button>
        <br>
        <button class="btn" id="btn-upload" data-bs-target="#exampleModalToggle2" data-bs-
toggle="modal">Upload a sound <svg xmlns="http://www.w3.org/2000/svg" width="35" height="26" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
</svg></button>
        <br>
        <button class="btn" id="btn-choose" data-bs-target="#exampleModalToggle2" data-bs-
toggle="modal">Choose a sound from library <svg xmlns="http://www.w3.org/2000/svg" width="35" height="26" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
</svg></button>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
</div>
      <!-- END Modal to disp MOVE TO A PARTIAL-->
      
     <a class="green-btn" data-bs-target="#exampleModalToggle"
      data-bs-toggle="modal">start from blank</a>
    </div>
  </div>
  <h4>How it works</h4>
  <div class="how-to">
    <div class="tile-green">
      <h2>1</h2>
      <p>Create a visual composition using shapes and graphics.</p>
    </div>
    <div class="tile-purple">
      <h2>2</h2>
      <p>Assign behaviours and modifiers to your graphics.</p>
    </div>
    <div class="tile-yellow">
      <h2>3</h2>
      <p>Play your selected audio, and watch your canvas dance!</p>
    </div>
  </div>
  <h4>Quick-start templates</h4>
  <div class="template-container">
    <div class="template-card">
      <h6>Template 1</h6>
    </div>
    <div class="template-card">
      <h6>Template 2</h6>
    </div>
    <div class="template-card">
      <h6>Template 3</h6>
    </div>
    <div class="template-card">
      <h6>Template 4</h6>
    </div>
    <div class="template-card">
      <h6>Template 5</h6>
    </div>
    <div class="template-card">
      <h6>Template 6</h6>
    </div>
  </div>
  <div class="back-to-top">
    <a class="yellow-btn">back to top <i class="fa-solid fa-arrow-up" style="color: #000000;"></i></a>
  </div>
</div>
