<div class="main-container">
  <div class="header-container">
    <h1>Let sound take shape</h1>
    <div class="description">
      <h5>Vempo merges the realms of audio and visual <br> by giving sound a canvas to move on.</h5>
    </div>
    <%# <p>Create an audio canvas from scratch, or check out our templates to get started.</p> %>
    <div class="buttons">
      <a class="purple-btn">start from a template <i class="fa-solid fa-arrow-down" style="color: #000000;"></i></a>
      <a class="green-btn">start from a blank canvas  <i class="fa-solid fa-arrow-right" style="color: #000000;"></i></a>
    </div>
  </div>
  <h4>How it works</h4>
  <div class="how-to">
    <div class="tile-green">
      <h2>1</h2>
      <p>Create a visual composition using shapes and graphics.</p>
    </div>
    <div class="tile-purple">
      <h2>2</h2>
      <p>Assign behaviours and modifiers to your graphics.</p>
    </div>
    <div class="tile-yellow">
      <h2>3</h2>
      <p>Play your selected audio, and watch your canvas dance!</p>
    </div>
  </div>
  <h4>Quick-start templates</h4>
  <div class="template-container">
    <div class="template-card">
      <h6>Template 1</h6>
    </div>
    <div class="template-card">
      <h6>Template 2</h6>
    </div>
    <div class="template-card">
      <h6>Template 3</h6>
    </div>
    <div class="template-card">
      <h6>Template 4</h6>
    </div>
    <div class="template-card">
      <h6>Template 5</h6>
    </div>
    <div class="template-card">
      <h6>Template 6</h6>
    </div>
  </div>
  <div class="back-to-top">
    <a class="yellow-btn">back to top <i class="fa-solid fa-arrow-up" style="color: #000000;"></i></a>
  </div>
</div>
