<div class="" style="height: 500px; width: 500px; background: green; display: flex; justify-content: center; align-items: center; position: fixed; top: 0; left: 0;">
  <h1> Screenshot Taken!</h1>
</div>
