<div class="container">
    <div class="card-1">

      <%#= form_with(url: root_path, method: :get) do |form| %>
        <%#= form.text_field :screenshot_url %>
        <%#= form.submit %>
      <%# end %>

      <% if @image %>
        <%= image_tag "data:image/png;base64,#{Base64.strict_encode64(@image)}" %>
      <% end %>

    </div>
</div>

<h1>Hello from show page</h1>
<a class="green-btn" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Add Sound</a>
<%= render "start" %>
