.green-btn {
  background-color: $v-green;
  color: $black;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  // margin: 0px;
  max-width: fit-content;
  display: block;
  border-radius: 20px;
  border: black solid 1px;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 1.0);
  text-decoration: none;
  margin: 20px;
  cursor: pointer;
  font-size: 0.9em;

  &:hover {
    transition: 300ms;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    background-color: #5cd300;
    transform: translateY(6px);
  }
}


.yellow-btn {
  background-color: $v-yellow;
  color: $black;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  margin: 0px;
  border-radius: 20px;
  border: black solid 1px;
  text-decoration: none;
  margin: 20px;
  cursor: pointer;
  font-size: 0.9em;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 1.0);
  position: absolute;
  right: 44%;

  &:hover {
    transition: 300ms;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    background-color: #e4951f;
    transform: translateY(6px)
  }
}

.purple-btn {
  background-color: $v-purple;
  color: $black;
  padding: 8px 16px;
  display: block;
  max-width: fit-content;
  // justify-content: center;
  // align-items: center;
  margin: 0px;
  box-sizing: border-box;
  border-radius: 20px;
  border: black solid 1px;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 1.0);
  text-decoration: none;
  margin: 20px;
  cursor: pointer;
  font-size: 0.9em;
  // position: absolute;
  // left: 0px;

  &:hover {
    transition: 300ms;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    background-color: #d655e7;
    transform: translateY(6px);
  }
}

#btn-mic {
  box-sizing: border-box;
  width: 280px;
  height: 40px;
  left: 30px;
  top: 100px;
  border: 1px solid #000000;
  border-radius: 42.67px;
    .bi {
      border-radius: 50px;
      fill: rgba(255, 188, 0, 1);
      color:white;
    }
}

.container-btn-upload {
  text-align: center;
  box-sizing: border-box;
  width: 280px;
  height: 40px;
  left: 10px;
  top: 100px;
  border: 1px solid #000000;
  border-radius: 42.67px;
  .bi {
    border-radius: 50px;
    fill: rgba(242, 148, 255, 1);
    color:white;
    cursor: pointer;
  }
}


#btn-choose {
  box-sizing: border-box;
  width: 280px;
  height: 40px;
  left: 30px;
  top: 100px;
  border: 1px solid #000000;
  border-radius: 42.67px;
  .bi {
    border-radius: 100%;
    fill: rgba(242, 148, 255, 1);
    color:white;
  }
}

#form-btn-upload:focus-within {
    display: block;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000000;
  border: none;
  opacity: .8;
}


.btn-close:hover {
  opacity: 1;
}

.combined-buttons {
  box-sizing: border-box;
  width: 280px;
  height: 40px;
  left: 30px;
  top: 100px;
  border: 1px solid #000000;
  border-radius: 42.67px;
  padding-left: 56px;
}

.margin {
  margin-top: 5px;
}

.input-white-btn:hover {
  background-color: #D680FF;
  border-color: black;
}

// SOME BUTTON EXAMPLES:

// <a class="green-btn">start from blank <i class="fa-solid fa-arrow-right" style="color: #000000;"></i></a>
// <a class="purple-btn">start from template <i class="fa-solid fa-arrow-down" style="color: #000000;"></i></a>
// <a class="yellow-btn">back to top <i class="fa-solid fa-arrow-up" style="color: #000000;"></i></a>
