.navbar {
  justify-content: space-between;
  // background: white;
  background-color: rgba(0, 0, 0, 0);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  align-items: center;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
  height: 50px;
}


.modal-backdrop {
  background-color: transparent;

}

.image-placeholder {
  background-size: cover;
}

.nav-text {
  align-items: center;
  font-size: 1.2em;
}

.centralise {
  align-items: center;
}
