.navbar-lewagon {
  justify-content: space-between;
  // background: white;
  background-color: rgba(0, 0, 0, 0);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  z-index: 99;
  background-color: rgba(0, 0, 0, 0);
  height: 50px;
.modal-backdrop {
    background-color: transparent;
}
