.cards-container {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  background: $v-light-gray;
  border-radius: 12px;
  padding: 10px;
  height: 350px;
  width: 450px;
  margin: 30px;
  text-align: right;
  &:hover {
    background-color: $v-yellow;
    cursor: pointer;
    transition: 300ms;
    outline: 2px solid white;
  }
}


.image-placeholder {
  background-color: $v-dark-gray;
  border-radius: 6px;
  height: 100%;
  height: 80%;
  margin-bottom: 10px;
  background-size: cover;
}

.title {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 0.9em;
  .left-box {
    text-align: left;
  }
  .right-box {
    text-align: right;
  }
}

// EXAMPLE OF CARD HERE:

// <div class="cards-container">
// <div class="project-card">
//   <div class="image-placeholder">
//   </div>
//   <div class="title">
//     <div class="left-box">
//       <h5><strong>Title of project goes here</strong></h5>
//     </div>
//     <div class="right-box">
//       <p>28/08/2023</p>
//     </div>
//   </div>
//   <h5><i class="fa-solid fa-ellipsis" style="color: #000000;"></i></h5>
// </div>
// </div>
